<div class="admin-dashboard-container">
  <div class="dashboard-header">
    <img routerLink="/admin-dashboard" style="cursor: pointer" src="assets/company_logo_login.png" alt="Logo" class="logo" />
    <h1 class="dashboard-title">COURSE GENERATOR</h1>
    <img routerLink="/profile-management" src="assets/userIcon.png" alt="Profile Icon" class="profile-icon" />
  </div>

<div class="dash-container">
  <div class="form-box">
    <form (ngSubmit)="onGenerateCourse()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" [(ngModel)]="courseTitle" name="title" placeholder="Enter course title"
          required />
      </div>

      <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <select id="difficulty" [(ngModel)]="difficulty" name="difficulty" required>
          <option value="Beginner">Beginner</option>
          <option value="Intermediate">Intermediate</option>
          <option value="Advanced">Advanced</option>
        </select>
      </div>

      <div class="form-group">
        <label for="duration">Duration</label>
        <input type="number" id="duration" [(ngModel)]="duration" name="duration" placeholder="Enter duration in months"
          required />
      </div>

      <div class="gen-content">
      <!-- Generate Course Button -->
      <button type="submit" class="generate-btn" (click)="startGeneration()">
        <span>📋</span> Generate Course
      </button>

      <!-- Loading Modal -->
      <div *ngIf="isLoading" class="loading-modal">
        <div class="modal-content">
          <h2>Generating Course...</h2>
          <p>Estimated Time Remaining: {{ countdown }} minutes</p>
          <div class="loader"></div>
        </div>
      </div>

      <!-- Display Generated Data Modal When Loading is Complete -->
      <div *ngIf="!isLoading && isComplete" class="generated-data-modal">
        <!-- <div class="modal-header"> -->

        <!-- </div> -->

        <!-- <div class="modal-body"> -->
        <!-- Scrollable content area for large content -->
        <div class="content-box">
          <h2>Generated Course Content</h2>
          <!-- <button class="close-btn" (click)="closeModal()">X</button> -->

          <p>{{ generatedData }}</p>
          <!-- </div> -->

          <button class="save-btn" (click)="onSave()">Save</button><br>
          <button class="preview-btn" routerLink="/view-content">Preview</button>
        </div>
        </div>
      </div>