<div class="user-review">
    <div class="dashboard-container">
        <div class="header">
            <!-- <div class="image-container"> -->
                <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
                <h1 class="title">USER REGISTRATION</h1>
                <img src="assets/WhatsApp Image 2024-10-18 at 08.48.52.jpeg" alt="Profile Icon" class="profile-icon" />
            <!-- </div> -->
        </div>
      
        <!-- <h1 class="title">USER REGISTRATION</h1> -->
    </div>
    
    <div class="container-2">
        <div class="u-card">
            <h3>Treasure Lottring</h3>
            <button class="accept-btn">accept</button>
            <button class="reject-btn">reject</button>
        </div>
        <div class="u-card">
            <h3>Name Surname</h3>
            <button class="accept-btn">accept</button>
            <button class="reject-btn">reject</button>
        </div>
        <div *ngFor="let trainer of pendingTrainers" class="u-card">
            <h3>{{ trainer.name }} {{ trainer.surname }}</h3>
            <button class="accept-btn" (click)="approveTrainer(trainer.id)">Accept</button>
            <button class="reject-btn" (click)="rejectTrainer(trainer.id)">Reject</button>
        </div>
    </div>
    </div>