<div class="top-nav">
    <div class="logo">
    <img src="assets/Word-logo.png" alt="Logo" class="logo-img" />
    </div>
    <div class="nav-right">
    <button class="profile-btn">
        <img src="assets/userIcon.png" alt="Profile" class="profile-img" />
    </button>
    </div>
</div>

<div class="body">
    <div class="sidebar" [class.collapsed]="isCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <ul>
        <ng-container *ngIf="userRole === 'admin'">
        <li>
        <i class="icon fa fa-home"></i>
        <span *ngIf="!isCollapsed" routerLink="/admin-dashboard">Dashboard</span>
    </li>
    <li>
        <i class="icon fas fa-book"></i>
        <span *ngIf="!isCollapsed" routerLink="/admin-generate-content">Generate Course</span>
    </li>
    <li>
        <i class="icon fas fa-file-alt"></i>
        <span *ngIf="!isCollapsed" routerLink="/admin-view-content">View Content</span>
    </li>
    <li>
        <i class="icon fas fa-user-check"></i>
        <span *ngIf="!isCollapsed" routerLink="/user-management">User Management</span>
    </li>
    <li>
        <i class="icon fas fa-users"></i>
        <span *ngIf="!isCollapsed" routerLink="/view-users">View All Users</span>
    </li>
    <hr class="divider" />
</ng-container>

<ng-container *ngIf="userRole === 'user'">
    <li>
        <i class="icon fas fa-book"></i>
        <span *ngIf="!isCollapsed" routerLink="/generate-content">Generate Course</span>
    </li>
    <li>
        <i class="icon fas fa-file-alt"></i>
        <span *ngIf="!isCollapsed" routerLink="/admin-view-content">View Content</span>
    </li>
    <hr class="divider" />
</ng-container>
    <li>
        <i class="icon fas fa-sign-out-alt"></i>
        <span class="logout-link" *ngIf="!isCollapsed" routerLink="/landing-page">Logout</span>
    </li>
    </ul>
</div>

<div class="sub-header" [class.shifted]="isCollapsed">
    <h3 class="sub-heading">COURSE CONTENT GENERATOR</h3>
        <button class="back-button">
          <span class="icon"></span> Back </button>
</div>