/* Main container */
.admin-dashboard-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: flex-start; /* Aligns items to start from the top *
    width: 100%;
    max-width: 1000px; /* Set maximum width *
    margin: 0 auto; /* Center horizontally *
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh; /* Full-page height *
    text-align: center;
    box-sizing: border-box; */
  }
  
.dashboard-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
    /* width: 100%; */
  padding: 20px;
}
  
  .logo {
    height: 60px;
    /* width: auto; */
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  /* Title styling */
.dashboard-title {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(to bottom, hsl(0, 0%, 68%), hsl(0, 0%, 0%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
  /* Button container styling */
  .dashboard-button-container {
    display: flex;
    /* flex-wrap: wrap; Allows buttons to wrap in case of smaller screens */
    /* gap: 20px; */
    background-color: #1a3b5d;
    padding: 40px;
    border-radius: 15px;
    margin: auto;
    width: 80vw; /* Control width of button section */
    justify-content: space-evenly;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Button styling */
  .dashboard-button {
    background-color: #f0f0f5;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    min-width: 150px;
    transition: background-color 0.3s ease;
    max-width: 200px; /* Control maximum width of each button */
    text-align: center;
  }
  
  .dashboard-button:hover {
    background-color: #d9d9e3;
  }
  
  /* Icon styling within buttons */
  .icon {
    margin-right: 8px;
  }
  