<div class="admin-dashboard-container">
    <div class="dashboard-header">
      <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
      <img src="assets/profile_icon.png" alt="Profile Icon" class="profile-icon" />
    </div>
  
    <h1 class="dashboard-title">COURSE GENERATOR</h1>
  
    <div class="dashboard-button-container">
      <!-- Buttons with links to respective components -->
      <button class="dashboard-button" routerLink="/generate-content">
        <span class="icon">✏️</span> Generate Course
      </button>
  
      <button class="dashboard-button" routerLink="/view-content">
        <span class="icon">📄</span> View Content
      </button>
  
      <button class="dashboard-button" routerLink="/view-history">
        <span class="icon">📊</span> View History
      </button>
  
      <button class="dashboard-button" routerLink="/user-review">
        <span class="icon">✔️</span> Accept Trainers
      </button>
    </div>
  </div>
  