<div class="admin-dashboard-container">
    <div class="dashboard-header">
      <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
    <h1 class="dashboard-title">COURSE GENERATOR</h1>
    <img routerLink="/profile-management" src="assets/userIcon.png" alt="Profile Icon" class="profile-icon" />
    </div>
  
  <div class="dash-container">
    <div class="dashboard-button-container">
      <button class="dashboard-button" routerLink="/generate-content">
        <span class="icon">✏️</span> Generate Course
      </button>
  
      <button class="dashboard-button" routerLink="/view-courses">
        <span class="icon">📄</span> View Content
      </button>
  
      <button class="dashboard-button" routerLink="/view-history">
        <span class="icon">📊</span> View History
      </button>
  
      <button class="dashboard-button" routerLink="/user-management">
        <span class="icon">✔️</span> Accept Trainers
      </button>
    </div>
    </div>
  </div>
</div>  
  