.logo {
  height: 60px;
  width: auto;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  }

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 
  
  .card {
    margin: 20px;
    text-align: center;
  }
  
.card img {
  height: 150px; /* Ensure consistent image height */
  object-fit: cover;
}
  
/* .body {
  margin-top: 79px;
  background-color: #e4e9ef;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.dash-container-1{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 60px;
  width: 80vw;
  background-color: #e4e9ef;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
  margin-left: 250px;
}

.sidebar.collapsed + .dash-container-1 {
  margin-left: 85px;
} */
