<div class="header">
  <!-- Left: Logo -->
  <img src="assets/company_logo_login.png" alt="Company Logo" width="200" />
</div>

<div class="login-container">
  <div class="login-box">
    <!-- Left Panel: Sign In Form -->
    <div class="left-panel">
      <h3>Sign In</h3>

      <form (submit)="onLogin(); $event.preventDefault()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter your password" />
        </div>

        <button type="submit" class="btn-signin">Sign In</button>
        <a href="#" class="forgot-password">Forgot password?</a>
      </form>
    </div>

    <!-- Right Panel: Sign Up Button -->
    <div class="right-panel">
      <h2>DON'T HAVE AN ACCOUNT YET?</h2>
      <button class="btn-signup" routerLink="/register">Sign Up</button>
    </div>
  </div>
</div>

<div clas="Container-1">

</div>



<!-- <button routerLink="/dashboard">Go to Dashboard (Test)</button> -->
 