/* Header styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  
  /* Logo styling */
  .logo {
    height: 50px;
    cursor: pointer;
  }
  
  /* Profile Icon styling */
  .profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Login Container Styling */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Adjust height to account for the header */
    background-color: #f5f5f5;
  }
  
  .login-box {
    display: flex;
    width: 70%;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .left-panel {
    flex: 1;
    background-color: #e0e0e0;
    padding: 40px;
  }
  
  .right-panel {
    flex: 1;
    background-color: #133B50;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  /* Global Button Styles */
  button {
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
  }
  
  /* Sign In Button */
  .btn-signin {
    background-color: black;
    color: white;
  }
  
  .btn-signin:hover {
    background-color: #333;
  }
  
  /* Sign Up Button */
  .btn-signup {
    background-color: black;
    color: white;
  }
  
  .btn-signup:hover {
    background-color: #4a8287;
  }
  
  /* Form Group Styling */
  .form-group {
    margin-bottom: 15px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  