<div class="top-nav">
  <div class="logo">
    <img src="assets/Word-logo.png" alt="Logo" class="logo-img" />
  </div>
  <div class="nav-right">
    <button class="profile-btn">
      <img src="assets/userIcon.png" alt="Profile" class="profile-img" />
    </button>
  </div>
</div>

<div class="body">
  <div class="sidebar" [class.collapsed]="(toggleService.isCollapsed$ | async)">
    <button class="nav-btn" 
    [class.active]="(toggleService.activePanel$ | async) === 'nav' && !(toggleService.isCollapsed$ | async)"
    (click)="toggleService.togglePanel('nav')">
      <i class="fas fa-bars"></i>
    </button> 
    <button *ngIf="showLogBtn" class="log-btn" (click)="toggleService.togglePanel('log')">
      <i class="fas fa-history"></i>
    </button>
    <div class="menu">


      <!-- //icons for the menu -->
  <ul>
    <li>
      <i class="icon fa fa-home"></i>
      <span *ngIf="!(toggleService.isCollapsed$ | async)" routerLink="/dashboard">Dashboard</span>
    </li>
    <li *ngIf="userRole === 'Administrator' || userRole === 'Trainer'">
      <i class="icon fas fa-book"></i>
      <span *ngIf="!(toggleService.isCollapsed$ | async)" routerLink="/generate-content">Generate Course</span>
    </li>
    <li *ngIf="userRole === 'Administrator' || userRole === 'Trainer'">
      <i class="icon fas fa-file-alt"></i>
      <span *ngIf="!(toggleService.isCollapsed$ | async)" routerLink="/view-courses">View Content</span>
    </li>
    <li *ngIf="userRole === 'Administrator'">
      <i class="icon fas fa-user-check"></i>
      <span *ngIf="!(toggleService.isCollapsed$ | async)" routerLink="/user-management">User Management</span>
    </li>
    <li *ngIf="userRole === 'Administrator'">
      <i class="icon fas fa-users"></i>
      <span *ngIf="!(toggleService.isCollapsed$ | async)" routerLink="/view-users">View All Users</span>
    </li>
    <hr class="divider" />
    <li>
      <i class="icon fas fa-sign-out-alt"></i>
      <span class="logout-link" *ngIf="!(toggleService.isCollapsed$ | async)" (click)="logout()">Logout</span>
    </li>
  </ul>
</div>
  </div>


  <div class="sub-header" [class.shifted]="(toggleService.isCollapsed$ | async)">
    <h3 class="sub-heading">{{ headerTitle }}</h3>
    <button *ngIf="showBackButton" class="back-button" (click)="goBack()">
      <span class="icon fas fa-arrow-left"></span> Back </button>
  </div>

  <div class="panel-content" *ngIf="!(toggleService.isCollapsed$ | async)">
    <app-nav *ngIf="(toggleService.activePanel$ | async) === 'nav'"></app-nav>
    <app-user-log *ngIf="(toggleService.activePanel$ | async) === 'log'"></app-user-log>
  </div>
</div>