<div class="top-nav">
    <div class="logo">
        <img src="assets/Word-logo.png" alt="Logo" class="logo-img" />
    </div>
    <div class="nav-right">
        <button class="profile-btn">
            <img src="assets/userIcon.png" alt="Profile" class="profile-img" />
        </button>
    </div>
</div>

<div class="body">
    <div class="btns">
        <div class="sidebar" [class.collapsed]="isCollapsed">
            <button class="toggle-btn" (click)="toggleNav()">☰</button>
            <!-- <button class="log-btn" (click)="logUserAction()">Log</button> -->
            <button class="log-btn" (click)="toggleLog()"><i class="fas fa-history"></i></button>
        </div>


        <div class="sub-header" [class.shifted]="isCollapsed">
            <h3 class="sub-heading">{{ headerTitle }}</h3>
            <button *ngIf="showBackButton" class="back-button" (click)="goBack()">
                <span class="icon fas fa-arrow-left"></span> Back </button>
        </div>
    </div>

    <app-nav *ngIf="showingNav"></app-nav>
    <app-user-log *ngIf="!showingNav"></app-user-log>

</div>