<div class="dashboard-container">
  <div class="header">
    <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
  <h1 class="title">COURSE GENERATOR</h1>
    <img routerLink="/profile-management" src="assets/userIcon.png" alt="Profile Icon" class="profile-icon" />
  </div>

  <div class="dash-container">
  <div class="button-container">
    <!-- Button to navigate to Generate Content -->
    <button class="dashboard-button" routerLink="/generate-content">
      <span class="icon">✏️</span> Generate Course
    </button>

    <button class="dashboard-button" routerLink="/view-courses">
      <span class="icon">📄</span> View Content
    </button>

    <button class="dashboard-button">
      <span class="icon">📊</span> View History
    </button>
  </div>
</div>
</div>
