/* General styling for the dashboard
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
*/
  .button-container {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    max-width: 800px;
  }
  .card img {
    height: 150px; /* Ensure consistent image height */
    object-fit: cover;
  }
  
  /* .dashboard-button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
  } */
  
  .dashboard-button:hover {
    background-color: #d0d0d0;
  }