/* General styling for the dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
  
.logo {
    height: 50px;
}
  
.profile-icon {
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
  

.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(to bottom, hsl(0, 0%, 68%), hsl(0, 0%, 0%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
/* .c-2 {
  align-items: center;
  display: flex;
} */
  .button-container {
    background-color: #133B50;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 80vw;
  }
  
  .dashboard-button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
  }
  
  .dashboard-button:hover {
    background-color: #d0d0d0;
  }
  
  .icon {
    font-size: 24px;
  }
  