<div class="dashboard-container">
    <div class="header">

            <img src="assets/company_logo_login.png" alt="Logo" class="logo" />
            
            <h1 class="title">VIEW COURSES</h1>
            
            <img src="assets/WhatsApp Image 2024-10-18 at 08.48.52.jpeg" alt="Profile Icon" class="profile-icon" />

    </div>
  
    
</div>

<div class="container-2">
    <div class="c-card">
        <h3>Java Programming for beginners</h3>
        <p>this course is designed to introduce students to the fundamental concepts of object-oriented programming in Java.</p>
        <button class="v-btn" (click)="openViewContent()">View</button>
    </div>
    <div class="c-card">
        <h3>Web Services and API Development</h3>
        <p>this course offers comprehensive introductin to web services, a key technology for enabling communication.</p>
        <button class="v-btn">View</button>
    </div>
</div>