<div class="dashboard-container">
  <div class="header">
    <img style="cursor: pointer" routerLink="/dashboard" src="assets/company_logo_login.png" alt="Logo" class="logo" />
    <h1 class="dashboard-title">COURSE GENERATOR</h1>
    <img src="assets/userIcon.png" alt="Profile Icon" class="profile-icon" />
  </div>

  <div class="VC-container">
  <div class="container-2">
    <div *ngFor="let course of courses" class="course-card">
      <h3>{{ course.title }}</h3>
      <p>{{ course.description }}</p>
      <button class="view-button" (click)="viewCourse(course.id)">View</button>
    </div>
  </div>
</div>
</div>
