.log-details {
  display: flex;
  flex-direction: column;
}

.user-log ul {
  list-style: none;
  padding: 0;
}

.user-log li {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-bottom: 1px solid #eee;
}

.timestamp {
  color: #888;
  font-size: 0.7rem;
  margin-left: 136px;
}

.message {
  font-weight: 500;
}

.action {
  /* font-weight: 700; */
  font-size: 0.7rem;
  margin-top: -17px;
}


.menu {
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  z-index: 11000;
  transition: width 0.3s ease;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.menu.collapsed {
  width: 70px;
}

 .menu ul li:hover {
    background-color: #133B50;

    opacity: 0.85;
  }



/* .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 11000;
    transition: width 0.3s ease;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .sidebar.collapsed {
    width: 70px;
  } */

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 8px;
  }

  .menu ul li {
    display: flex;
    align-items: center;
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
    height:50px
  }

  .menu ul li:hover {
    background-color: #133B50;
    opacity: 0.85;
  }

  .menu ul li .icon {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }

  .menu ul li:hover .icon {
    color: white;
  }

  .menu ul li span {
    /* font-size: 16px; */
    color: #333;
    transition: color 0.3s ease;
  }

  .menu ul li:hover span {
    color: white;
  }

  .menu.collapsed ul li span {
    display: none;
  }
